//-home.pug

html
  head  
    title Home
    script(src='/javascripts/home.bundle.js')
    link(rel='stylesheet', href='/stylesheets/home.css')
  body
    h1 Home look at this
    div#msgBox
    a(href='about') Go to about.pug
    button#button1 Click me
    
